<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
    <div class="input-group mt-5">
        <input id="first" type="text" class="form-control" placeholder="Введите число">
    </div>
    <div class="input-group mt-5">
        <input id="second" type="text" class="form-control" placeholder="Введите число">
    </div>
    <div class="mt-5">
        <button id="add" type="button" class="btn btn-primary">Сложить</button>
        <button id="subtract" type="button" class="btn btn-secondary">Вычесть</button>
        <button id="multiply" type="button" class="btn btn-success">Умножить</button>
        <button id="divide" type="button" class="btn btn-danger">Разделить</button>
    </div>
    <h1 id="result" class="mt-5"></h1>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function sum() {
        $.ajax({
            url: `${this.id}/`,
            type: "POST",
            data: JSON.stringify({
                "A": $('#first').val(),
                "B": $('#second').val(),
            }),
            success: function (data) {
                $('#result').html(data.result);
                $('#result').css('background-color', 'green');
            },
            error: function (data) {
                $('#result').html(data.responseJSON.error);
                $('#result').css('background-color', 'red');
            }
        });
    }
    $("#add").click(sum);
    $("#subtract").click(sum);
    $("#multiply").click(sum);
    $("#divide").click(sum);
</script>
</body>
</html>